{{#users}}
<div class="individual">

<a href="/userData/id">
  {{name}}
  {{length}}
  {{color}}
  {{writingType}}
  {{activation}}
  {{inkcolor}}
  {{material}}
  {{refill}}
  {{weight}}
  {{price}}
</a>
</div>
{{/users}}
