<div class="data">
  
<h1>Add A Pen to the Collection</h1>
<form class="create" action="/create" method="post">
  <h4>Make Model</h4>
  <input type="text" name="name" value="" placeholder="Name"><br>
  <h4>Lenth in Inches</h4>
  <input type="text" name="length" value="" placeholder="Length"><br>
  <h4>Pen Color</h4>
  <input type="text" name="color" value="" placeholder="Color"><br>
  <h4>Writing Type</h4>
  <input type="text" name="writingType" value="" placeholder="Writing Type"><br>
  <h4>Activation</h4>
  <input type="text" name="activation" value="" placeholder="Activation"><br>
  <h4>Ink Color</h4>
  <input type="text" name="inkColor" value=""placeholder="Ink Color"><br>
  <p>Description</p>
  <h4>Material</h4>
  <input type="text" name="material" value="" placeholder="Material"><br>
  <h4>Refillable (True/False)</h4>
  <input type="text" name="refillable" value=""placeholder="Refillable True False"><br>
  <h4>Weight in oz.</h4>
  <input type="text" name="weight" value="" placeholder="Weight"><br>
  <h4>Price in U.S.D</h4>
  <input type="text" name="price" value="" placeholder="Price">
  <button type="submit" name="button">submit</button>t</button>

</div>
</form>
