<input type="text" name="" value="" placeholder="Name">
<input type="text" name="" value="" placeholder="Length">
<input type="text" name="" value="" placeholder="Color">
<input type="text" name="" value="" placeholder="Writing Type">
<input type="text" name="" value="" placeholder="Activation">
<input type="text" name="" value="" placeholder="Ink Color">
<input type="text" name="" value="" placeholder="Material">
<input type="text" name="" value="" placeholder="Refillable">
<input type="text" name="" value="" placeholder="Weight">
<input type="text" name="" value="" placeholder="Price">
