<div class="data">

<form class="edit" action="/edit" method="post">
  <input type="text" name="name" value="" placeholder="Name"><br>
  <input type="text" name="length" value="" placeholder="Length"><br>
  <input type="text" name="color" value="" placeholder="Color"><br>
  <input type="text" name="writingType" value="" placeholder="Writing Type"><br>
  <input type="text" name="activation" value="" placeholder="Activation"><br>
  <input type="text" name="inkColor" value="" placeholder="Ink Color"><br>
  <p>Description</p>
  <input type="text" name="material" value="" placeholder="Material"><br>
  <input type="text" name="refillabble" value=""placeholder="Refillable True False"><br>
  <input type="text" name="weight" value="" placeholder="Weight"><br>
  <input type="text" name="price" value="" placeholder="Price">


    <button type="submit" name="button">submit</button>

</div>
</form>
