<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pens Pens and More Pens</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <nav>
      <a href="/collection">View Collection</a>
      <a href="/edit">Add to Collection</a>
      <a href="/edit">Edit Collection</a>
    </nav>
    <div class="container">

      {{{yield}}}


    </div>
  </body>
</html>
