*{
  border: 1px solid red;

}
body{
  width: 100vw;
  height: 100vw;
  background: orange;
}

.container{
  width: 100vw;
  height: 60vw;
}
.individual a{
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.edit{
  width: 20vw;
  display: flex;
  flex-direction: column;
}
.edit input{
  margin-top: 1vw;
  margin-bottom: 1vw;
}
